

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: rgba(255, 255, 0, 0.644);
  display: flex;
  border-radius: 30px;
  align-items: center;
}

#barra-de-navegacao{
    list-style-type: none;
}

#logo-brawl{
    width: 100%;
    max-width: 150px;
    height: auto;
}

body {
  background-color: #f2a922;
  padding: 16px;
}

.explicacao {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #bf563fa6;
  border-radius: 70px;
}
.o-que-e {
  margin-right: 20px;
}
#modo-de-jogo {
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.modos-extras {
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
#parcerias {
  margin-top: 180px;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

#Brawlers {
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
}

#Brawlers img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

#modo-de-jogo img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.modos-extras img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

#melhores-brawlers img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

#parceria-bob-esponja {
  width: 100%;
  max-width: 350px;
  height: auto;
}

#caca-aguas-viva {
  width: 100%;
  max-width: 130px;
  height: auto;
}

#bob-esponja-skin {
  width: 100%;
  max-width: 180px;
  height: auto;
}

#sirigueijo-skin {
  width: 100%;
  max-width: 180px;
  height: auto;
}

#lulamolusco-skin {
  width: 100%;
  max-width: 180px;
  height: auto;
}

#patrickestrela-skin {
  width: 100%;
  max-width: 180px;
  height: auto;
}

#plancton-skin {
  width: 100%;
  max-width: 180px;
  height: auto;
}

#sandybochechas-skin {
  width: 100%;
  max-width: 180px;
  height: auto;
}

#capa-parceria-godzilla {
  width: 100%;
  max-width: 350px;
  height: auto;
}

#destrua-a-cidade {
  width: 100%;
  max-width: 150px;
  height: auto;
}

#godzilla-variantes {
  width: 100%;
  max-width: 450px;
  height: auto;
}

#brock-power-ranger {
  width: 100%;
  max-width: 350px;
  height: auto;
}

#variante-tick1 {
  width: 100%;
  max-width: 350px;
  height: auto;
}

#variante-tick2 {
  width: 100%;
  max-width: 350px;
  height: auto;
}

#variante-tick3 {
  width: 100%;
  max-width: 350px;
  height: auto;
}

#evee-mothra {
  width: 100%;
  max-width: 350px;
  height: auto;
}

#mecha-guidorah{
    width: 100%;
    max-width: 350px;
    height: auto;
}

#mothra{
    width: 100%;
  max-width: 350px;
  height: auto;
}

@media (max-width: 585px){
    header{
        flex-direction: column;
    }

    .explicacao{
        flex-direction: column;
    }
}
